@import 'compass/reset';

$green: #3fec8c;
$darkgrey: #222;

*, *:after, *:before {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	font-family: georgia, serif;
	background: $darkgrey;
	overflow: hidden;
}

// .main {
// 	position: absolute;
// 	transform: translateZ(0);
// 	transition: transform .4s, width .4s;
// 	width: 100%;
// 	height: 100%;
// 	z-index: 1;
// }


/*HEADER*/

header {
	pointer-events: none;
	cursor: pointer;
	top: 0;
	position: absolute;
	height: 400px;
	width: 100%;
	transition: transform .4s;
	transform: translateZ(0);
	z-index: 2;
	background: $darkgrey;
	
	h1, p {
		transform: translateZ(0);
		top: 180px;
		position: absolute;
		left: 50%;
	}
	h1 {
		transition: transform .4s;
		margin-left: -400px;
		color: rgba(0, 0, 0, 0);
		width: 132px;
		height: 33px;
		background-image: url(../images/logo.png);
	}
	p {
		color: $green;
		margin-left: -200px;
		font-size: 28px;
		font-style: italic;
	}

	&.shrink {
		pointer-events: auto;
		transform: translateY(-350px) translateZ(0);           
		h1 {
			transform: translateY(180px) translateZ(0);
		}
	}
}

/*NAVIGATION*/

nav {
	position: absolute;
	overflow: auto;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: opacity 1s;

	&::-webkit-scrollbar {
	    width: 4px;
	}
	 
	&::-webkit-scrollbar-track {
		background: $green;
	}
	 
	&::-webkit-scrollbar-thumb {
		background: $darkgrey;
	}

	ul {
		width: 100%;
		height: 100%;
		margin-top: 400px;
		transition: margin-top .4s, opacity 1s;
		background: url(../images/banana.gif) $green no-repeat bottom;
	}

	li {
		height: 180px;
		overflow: hidden;
		position: relative;
		transform-origin: 50% 0;
		transform: translateZ(0);
		transition: transform .4s, opacity .4s;
		width: 100%;

		a {
			background-position: 50% 50%;
			background-size: cover;
			display: block;
			height: 100%;
			perspective: 1000px;
			transform: translateZ(0);
			width: 100%;

			&:before {
				background-color: black;
				content: "";
				display: block;
				height: 100%;
				opacity: .3;
				position: absolute;
				transform: translateZ(0);
				transition: opacity .4s;
				width: 100%;
				z-index: 1;
			}
		}

		h2, p {
			background: $green;
			left: 50%;
			margin-left: -400px;
			position: absolute;
			transform: translateZ(0);
			transition: transform .2s, opacity .2s;
			z-index: 2;
		}

		h2 {
			color: white;
			float: left;
			font-family: arial;
			font-size: 24px;
			padding: 10px 10px 0 10px;
			text-transform: uppercase;
			top: 56px;
		}

		p {
			color: #444;
			font-size: 18px;
			font-style: italic;
			padding: 10px;
			top: 90px;
		}

		&:hover {
			h2, p {
				transition: transform .4s, opacity .4s;
				transform: translateZ(50px) rotateX(10deg);
				opacity: .5;
			}
			p {
				transition-delay: .05s;
			}
			a:before {
				opacity: 0;
			}
		}
	}

	&.hide {
		pointer-events: none;
		opacity: 0;
		ul {
			opacity: 0;
		}
		li {
			@for $i from 1 through 100 {
				&:nth-child(#{$i}) {
					transition-delay: $i * .2s;
				}
			}
			opacity: 0;
		}
	}

	&.to-top {
		ul {
			margin-top: 50px;
		}
	}
}

/*EXPERIMENT*/

.experiment {
	position: absolute;
	top: 50px;
	left: 0;
	z-index: 2;
	width: 100%;
	height: calc(100% - 50px);
	transition: opacity 1s;
	a {
		background: $green url(../images/github.svg) no-repeat center;
		transform: translateZ(0);
		transition: transform .2s 1s;
		background-size: 34px;
		display: block;
		height: 50px;
		position: absolute;
		right: 0;
		top: -50px;
		width: 50px;
	}
	iframe {
		width: 100%;
		height: 100%;
	}
	&.hide {
		opacity: 0;
		pointer-events: none;
		a {
			transition: transform .1s;
			transform: translateX(50px) translateZ(0);
		}
	}
}