/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 6, main.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 10, main.scss */
html, body {
  height: 100%;
}

/* line 14, main.scss */
body {
  font-family: georgia, serif;
  background: #222222;
  overflow: hidden;
}

/*HEADER*/
/* line 32, main.scss */
header {
  pointer-events: none;
  cursor: pointer;
  top: 0;
  position: absolute;
  height: 400px;
  width: 100%;
  -webkit-transition: -webkit-transform .4s;
  transition: transform .4s;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 2;
  background: #222222;
}
/* line 42, main.scss */
header.shrink {
  pointer-events: auto;
  -webkit-transform: translateY(-350px) translateZ(0);
  -ms-transform: translateY(-350px) translateZ(0);
  transform: translateY(-350px) translateZ(0);
}
/* line 45, main.scss */
header.shrink h1 {
  -webkit-transform: translateY(180px) translateZ(0);
  -ms-transform: translateY(180px) translateZ(0);
  transform: translateY(180px) translateZ(0);
}
/* line 49, main.scss */
header h1, header p {
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  top: 180px;
  position: absolute;
  left: 50%;
}
/* line 55, main.scss */
header h1 {
  -webkit-transition: -webkit-transform .4s;
  transition: transform .4s;
  margin-left: -400px;
  color: rgba(0, 0, 0, 0);
  width: 132px;
  height: 33px;
  background-image: url(../images/logo.png);
}
/* line 63, main.scss */
header p {
  color: #3fec8c;
  margin-left: -200px;
  font-size: 28px;
  font-style: italic;
}

/*NAVIGATION*/
/* line 75, main.scss */
nav {
  position: absolute;
  overflow: auto;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: url(../images/banana.gif) #3fec8c no-repeat bottom;
  -webkit-transition: opacity .4s;
  transition: opacity .4s;
}
/* line 85, main.scss */
nav::-webkit-scrollbar {
  width: 4px;
}
/* line 89, main.scss */
nav::-webkit-scrollbar-track {
  background: #3fec8c;
}
/* line 93, main.scss */
nav::-webkit-scrollbar-thumb {
  background: #222222;
}
/* line 97, main.scss */
nav ul {
  width: 100%;
  min-height: 101%;
}
/* line 102, main.scss */
nav li {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 180px;
  -webkit-transition: -webkit-transform .4s, opacity .4s;
  transition: transform .4s, opacity .4s;
  -webkit-transform: translateY(400px) translateZ(0);
  -ms-transform: translateY(400px) translateZ(0);
  transform: translateY(400px) translateZ(0);
  -webkit-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
}
/* line 112, main.scss */
nav li:nth-child(1) {
  -webkit-transition-delay: 0.01s;
  transition-delay: 0.01s;
}
/* line 112, main.scss */
nav li:nth-child(2) {
  -webkit-transition-delay: 0.02s;
  transition-delay: 0.02s;
}
/* line 112, main.scss */
nav li:nth-child(3) {
  -webkit-transition-delay: 0.03s;
  transition-delay: 0.03s;
}
/* line 112, main.scss */
nav li:nth-child(4) {
  -webkit-transition-delay: 0.04s;
  transition-delay: 0.04s;
}
/* line 112, main.scss */
nav li:nth-child(5) {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}
/* line 112, main.scss */
nav li:nth-child(6) {
  -webkit-transition-delay: 0.06s;
  transition-delay: 0.06s;
}
/* line 112, main.scss */
nav li:nth-child(7) {
  -webkit-transition-delay: 0.07s;
  transition-delay: 0.07s;
}
/* line 112, main.scss */
nav li:nth-child(8) {
  -webkit-transition-delay: 0.08s;
  transition-delay: 0.08s;
}
/* line 112, main.scss */
nav li:nth-child(9) {
  -webkit-transition-delay: 0.09s;
  transition-delay: 0.09s;
}
/* line 112, main.scss */
nav li:nth-child(10) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
/* line 112, main.scss */
nav li:nth-child(11) {
  -webkit-transition-delay: 0.11s;
  transition-delay: 0.11s;
}
/* line 112, main.scss */
nav li:nth-child(12) {
  -webkit-transition-delay: 0.12s;
  transition-delay: 0.12s;
}
/* line 112, main.scss */
nav li:nth-child(13) {
  -webkit-transition-delay: 0.13s;
  transition-delay: 0.13s;
}
/* line 112, main.scss */
nav li:nth-child(14) {
  -webkit-transition-delay: 0.14s;
  transition-delay: 0.14s;
}
/* line 112, main.scss */
nav li:nth-child(15) {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}
/* line 112, main.scss */
nav li:nth-child(16) {
  -webkit-transition-delay: 0.16s;
  transition-delay: 0.16s;
}
/* line 112, main.scss */
nav li:nth-child(17) {
  -webkit-transition-delay: 0.17s;
  transition-delay: 0.17s;
}
/* line 112, main.scss */
nav li:nth-child(18) {
  -webkit-transition-delay: 0.18s;
  transition-delay: 0.18s;
}
/* line 112, main.scss */
nav li:nth-child(19) {
  -webkit-transition-delay: 0.19s;
  transition-delay: 0.19s;
}
/* line 112, main.scss */
nav li:nth-child(20) {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
/* line 112, main.scss */
nav li:nth-child(21) {
  -webkit-transition-delay: 0.21s;
  transition-delay: 0.21s;
}
/* line 112, main.scss */
nav li:nth-child(22) {
  -webkit-transition-delay: 0.22s;
  transition-delay: 0.22s;
}
/* line 112, main.scss */
nav li:nth-child(23) {
  -webkit-transition-delay: 0.23s;
  transition-delay: 0.23s;
}
/* line 112, main.scss */
nav li:nth-child(24) {
  -webkit-transition-delay: 0.24s;
  transition-delay: 0.24s;
}
/* line 112, main.scss */
nav li:nth-child(25) {
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}
/* line 112, main.scss */
nav li:nth-child(26) {
  -webkit-transition-delay: 0.26s;
  transition-delay: 0.26s;
}
/* line 112, main.scss */
nav li:nth-child(27) {
  -webkit-transition-delay: 0.27s;
  transition-delay: 0.27s;
}
/* line 112, main.scss */
nav li:nth-child(28) {
  -webkit-transition-delay: 0.28s;
  transition-delay: 0.28s;
}
/* line 112, main.scss */
nav li:nth-child(29) {
  -webkit-transition-delay: 0.29s;
  transition-delay: 0.29s;
}
/* line 112, main.scss */
nav li:nth-child(30) {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
/* line 112, main.scss */
nav li:nth-child(31) {
  -webkit-transition-delay: 0.31s;
  transition-delay: 0.31s;
}
/* line 112, main.scss */
nav li:nth-child(32) {
  -webkit-transition-delay: 0.32s;
  transition-delay: 0.32s;
}
/* line 112, main.scss */
nav li:nth-child(33) {
  -webkit-transition-delay: 0.33s;
  transition-delay: 0.33s;
}
/* line 112, main.scss */
nav li:nth-child(34) {
  -webkit-transition-delay: 0.34s;
  transition-delay: 0.34s;
}
/* line 112, main.scss */
nav li:nth-child(35) {
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s;
}
/* line 112, main.scss */
nav li:nth-child(36) {
  -webkit-transition-delay: 0.36s;
  transition-delay: 0.36s;
}
/* line 112, main.scss */
nav li:nth-child(37) {
  -webkit-transition-delay: 0.37s;
  transition-delay: 0.37s;
}
/* line 112, main.scss */
nav li:nth-child(38) {
  -webkit-transition-delay: 0.38s;
  transition-delay: 0.38s;
}
/* line 112, main.scss */
nav li:nth-child(39) {
  -webkit-transition-delay: 0.39s;
  transition-delay: 0.39s;
}
/* line 112, main.scss */
nav li:nth-child(40) {
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
/* line 112, main.scss */
nav li:nth-child(41) {
  -webkit-transition-delay: 0.41s;
  transition-delay: 0.41s;
}
/* line 112, main.scss */
nav li:nth-child(42) {
  -webkit-transition-delay: 0.42s;
  transition-delay: 0.42s;
}
/* line 112, main.scss */
nav li:nth-child(43) {
  -webkit-transition-delay: 0.43s;
  transition-delay: 0.43s;
}
/* line 112, main.scss */
nav li:nth-child(44) {
  -webkit-transition-delay: 0.44s;
  transition-delay: 0.44s;
}
/* line 112, main.scss */
nav li:nth-child(45) {
  -webkit-transition-delay: 0.45s;
  transition-delay: 0.45s;
}
/* line 112, main.scss */
nav li:nth-child(46) {
  -webkit-transition-delay: 0.46s;
  transition-delay: 0.46s;
}
/* line 112, main.scss */
nav li:nth-child(47) {
  -webkit-transition-delay: 0.47s;
  transition-delay: 0.47s;
}
/* line 112, main.scss */
nav li:nth-child(48) {
  -webkit-transition-delay: 0.48s;
  transition-delay: 0.48s;
}
/* line 112, main.scss */
nav li:nth-child(49) {
  -webkit-transition-delay: 0.49s;
  transition-delay: 0.49s;
}
/* line 112, main.scss */
nav li:nth-child(50) {
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
/* line 112, main.scss */
nav li:nth-child(51) {
  -webkit-transition-delay: 0.51s;
  transition-delay: 0.51s;
}
/* line 112, main.scss */
nav li:nth-child(52) {
  -webkit-transition-delay: 0.52s;
  transition-delay: 0.52s;
}
/* line 112, main.scss */
nav li:nth-child(53) {
  -webkit-transition-delay: 0.53s;
  transition-delay: 0.53s;
}
/* line 112, main.scss */
nav li:nth-child(54) {
  -webkit-transition-delay: 0.54s;
  transition-delay: 0.54s;
}
/* line 112, main.scss */
nav li:nth-child(55) {
  -webkit-transition-delay: 0.55s;
  transition-delay: 0.55s;
}
/* line 112, main.scss */
nav li:nth-child(56) {
  -webkit-transition-delay: 0.56s;
  transition-delay: 0.56s;
}
/* line 112, main.scss */
nav li:nth-child(57) {
  -webkit-transition-delay: 0.57s;
  transition-delay: 0.57s;
}
/* line 112, main.scss */
nav li:nth-child(58) {
  -webkit-transition-delay: 0.58s;
  transition-delay: 0.58s;
}
/* line 112, main.scss */
nav li:nth-child(59) {
  -webkit-transition-delay: 0.59s;
  transition-delay: 0.59s;
}
/* line 112, main.scss */
nav li:nth-child(60) {
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
/* line 112, main.scss */
nav li:nth-child(61) {
  -webkit-transition-delay: 0.61s;
  transition-delay: 0.61s;
}
/* line 112, main.scss */
nav li:nth-child(62) {
  -webkit-transition-delay: 0.62s;
  transition-delay: 0.62s;
}
/* line 112, main.scss */
nav li:nth-child(63) {
  -webkit-transition-delay: 0.63s;
  transition-delay: 0.63s;
}
/* line 112, main.scss */
nav li:nth-child(64) {
  -webkit-transition-delay: 0.64s;
  transition-delay: 0.64s;
}
/* line 112, main.scss */
nav li:nth-child(65) {
  -webkit-transition-delay: 0.65s;
  transition-delay: 0.65s;
}
/* line 112, main.scss */
nav li:nth-child(66) {
  -webkit-transition-delay: 0.66s;
  transition-delay: 0.66s;
}
/* line 112, main.scss */
nav li:nth-child(67) {
  -webkit-transition-delay: 0.67s;
  transition-delay: 0.67s;
}
/* line 112, main.scss */
nav li:nth-child(68) {
  -webkit-transition-delay: 0.68s;
  transition-delay: 0.68s;
}
/* line 112, main.scss */
nav li:nth-child(69) {
  -webkit-transition-delay: 0.69s;
  transition-delay: 0.69s;
}
/* line 112, main.scss */
nav li:nth-child(70) {
  -webkit-transition-delay: 0.7s;
  transition-delay: 0.7s;
}
/* line 112, main.scss */
nav li:nth-child(71) {
  -webkit-transition-delay: 0.71s;
  transition-delay: 0.71s;
}
/* line 112, main.scss */
nav li:nth-child(72) {
  -webkit-transition-delay: 0.72s;
  transition-delay: 0.72s;
}
/* line 112, main.scss */
nav li:nth-child(73) {
  -webkit-transition-delay: 0.73s;
  transition-delay: 0.73s;
}
/* line 112, main.scss */
nav li:nth-child(74) {
  -webkit-transition-delay: 0.74s;
  transition-delay: 0.74s;
}
/* line 112, main.scss */
nav li:nth-child(75) {
  -webkit-transition-delay: 0.75s;
  transition-delay: 0.75s;
}
/* line 112, main.scss */
nav li:nth-child(76) {
  -webkit-transition-delay: 0.76s;
  transition-delay: 0.76s;
}
/* line 112, main.scss */
nav li:nth-child(77) {
  -webkit-transition-delay: 0.77s;
  transition-delay: 0.77s;
}
/* line 112, main.scss */
nav li:nth-child(78) {
  -webkit-transition-delay: 0.78s;
  transition-delay: 0.78s;
}
/* line 112, main.scss */
nav li:nth-child(79) {
  -webkit-transition-delay: 0.79s;
  transition-delay: 0.79s;
}
/* line 112, main.scss */
nav li:nth-child(80) {
  -webkit-transition-delay: 0.8s;
  transition-delay: 0.8s;
}
/* line 112, main.scss */
nav li:nth-child(81) {
  -webkit-transition-delay: 0.81s;
  transition-delay: 0.81s;
}
/* line 112, main.scss */
nav li:nth-child(82) {
  -webkit-transition-delay: 0.82s;
  transition-delay: 0.82s;
}
/* line 112, main.scss */
nav li:nth-child(83) {
  -webkit-transition-delay: 0.83s;
  transition-delay: 0.83s;
}
/* line 112, main.scss */
nav li:nth-child(84) {
  -webkit-transition-delay: 0.84s;
  transition-delay: 0.84s;
}
/* line 112, main.scss */
nav li:nth-child(85) {
  -webkit-transition-delay: 0.85s;
  transition-delay: 0.85s;
}
/* line 112, main.scss */
nav li:nth-child(86) {
  -webkit-transition-delay: 0.86s;
  transition-delay: 0.86s;
}
/* line 112, main.scss */
nav li:nth-child(87) {
  -webkit-transition-delay: 0.87s;
  transition-delay: 0.87s;
}
/* line 112, main.scss */
nav li:nth-child(88) {
  -webkit-transition-delay: 0.88s;
  transition-delay: 0.88s;
}
/* line 112, main.scss */
nav li:nth-child(89) {
  -webkit-transition-delay: 0.89s;
  transition-delay: 0.89s;
}
/* line 112, main.scss */
nav li:nth-child(90) {
  -webkit-transition-delay: 0.9s;
  transition-delay: 0.9s;
}
/* line 112, main.scss */
nav li:nth-child(91) {
  -webkit-transition-delay: 0.91s;
  transition-delay: 0.91s;
}
/* line 112, main.scss */
nav li:nth-child(92) {
  -webkit-transition-delay: 0.92s;
  transition-delay: 0.92s;
}
/* line 112, main.scss */
nav li:nth-child(93) {
  -webkit-transition-delay: 0.93s;
  transition-delay: 0.93s;
}
/* line 112, main.scss */
nav li:nth-child(94) {
  -webkit-transition-delay: 0.94s;
  transition-delay: 0.94s;
}
/* line 112, main.scss */
nav li:nth-child(95) {
  -webkit-transition-delay: 0.95s;
  transition-delay: 0.95s;
}
/* line 112, main.scss */
nav li:nth-child(96) {
  -webkit-transition-delay: 0.96s;
  transition-delay: 0.96s;
}
/* line 112, main.scss */
nav li:nth-child(97) {
  -webkit-transition-delay: 0.97s;
  transition-delay: 0.97s;
}
/* line 112, main.scss */
nav li:nth-child(98) {
  -webkit-transition-delay: 0.98s;
  transition-delay: 0.98s;
}
/* line 112, main.scss */
nav li:nth-child(99) {
  -webkit-transition-delay: 0.99s;
  transition-delay: 0.99s;
}
/* line 112, main.scss */
nav li:nth-child(100) {
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
}
/* line 117, main.scss */
nav li h2, nav li p {
  position: absolute;
  left: 50%;
  margin-left: -400px;
  background: #3fec8c;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 2;
}
/* line 126, main.scss */
nav li h2 {
  padding: 10px 10px 0 10px;
  font-family: arial;
  top: 56px;
  font-size: 24px;
  text-transform: uppercase;
  float: left;
  color: white;
}
/* line 136, main.scss */
nav li p {
  padding: 10px;
  font-size: 18px;
  top: 90px;
  font-style: italic;
  color: #444;
}
/* line 144, main.scss */
nav li a {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
/* line 150, main.scss */
nav li a:before {
  content: "";
  position: absolute;
  -webkit-transition: opacity .4s;
  transition: opacity .4s;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  display: block;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 1;
  opacity: 0;
}
/* line 164, main.scss */
nav li img {
  background-color: grey;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translateY(-50%) translateZ(0);
  -ms-transform: translateY(-50%) translateZ(0);
  transform: translateY(-50%) translateZ(0);
}
/* line 174, main.scss */
nav li:hover a:before {
  opacity: .1;
}
/* line 180, main.scss */
nav.hide {
  pointer-events: none;
  opacity: 0;
}
/* line 183, main.scss */
nav.hide li {
  opacity: 0;
}
/* line 189, main.scss */
nav.to-top li {
  -webkit-transform: translateY(50px) translateZ(0);
  -ms-transform: translateY(50px) translateZ(0);
  transform: translateY(50px) translateZ(0);
}

/*EXPERIMENT*/
/* line 197, main.scss */
.experiment {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: -webkit-calc(100% - 50px);
  height: calc(100% - 50px);
}
/* line 203, main.scss */
.experiment iframe {
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}
/* line 207, main.scss */
.experiment iframe.hide {
  opacity: 0;
}
