@import 'compass/reset';

$green: #3fec8c;
$darkgrey: #222;

*, *:after, *:before {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	font-family: georgia, serif;
	background: $darkgrey;
	overflow: hidden;
}

// .main {
// 	position: absolute;
// 	transform: translateZ(0);
// 	transition: transform .4s, width .4s;
// 	width: 100%;
// 	height: 100%;
// 	z-index: 1;
// }


/*HEADER*/

header {
	pointer-events: none;
	cursor: pointer;
	top: 0;
	position: absolute;
	height: 400px;
	width: 100%;
	transition: transform .4s;
	transform: translateZ(0);
	z-index: 2;
	&.shrink {
		pointer-events: auto;
		transform: translateY(-350px) translateZ(0);           
		h1 {
			transform: translateY(180px) translateZ(0);
		}
	}
	h1, p {
		transform: translateZ(0);
		top: 180px;
		position: absolute;
		left: 50%;
	}
	h1 {
		transition: transform .4s;
		margin-left: -400px;
		color: rgba(0, 0, 0, 0);
		width: 132px;
		height: 33px;
		background-image: url(../images/logo.png);
	}
	p {
		color: $green;
		margin-left: -200px;
		font-size: 28px;
		font-style: italic;
	}
	background: $darkgrey;

}

/*NAVIGATION*/

nav {
	position: absolute;
	overflow: auto;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: opacity 1s;

	&::-webkit-scrollbar {
	    width: 4px;
	}
	 
	&::-webkit-scrollbar-track {
		background: $green;
	}
	 
	&::-webkit-scrollbar-thumb {
		background: $darkgrey;
	}

	ul {
		width: 100%;
		// min-height: 100%;
		margin-top: 400px;
		background: url(../images/banana.gif) $green no-repeat bottom;
	}

	li {
		position: relative;
		overflow: hidden;
		width: 100%;
		height: 180px;
		transition: transform .4s, opacity .4s;
		transform: translateY(0px) translateZ(0);
		transform-origin: 50% 0;

		// @for $i from 1 through 100 {
		// 	&:nth-child(#{$i}) {
		// 		transition-delay: $i * .1s;
		// 	}
		// }

		// &:not(:first-child) {
		// 	margin-top: -180px;
		// }

		// &:last-child {
		// 	height: 180px;
		// 	&:after {
		// 		content: "";
		// 		background: url(../images/banana.gif) $green no-repeat 50% 180px;
		// 		height: 180px;
		// 		width: 100%;
		// 		display: block;
		// 		transform: translateZ(0);
		// 	}
		// }

		h2, p {
			position: absolute;
			left: 50%;
			margin-left: -400px;
			background: $green;
			transform: translateZ(0);
			z-index: 2;
		}

		h2 {
			padding: 10px 10px 0 10px;
			font-family: arial;
			top: 56px;
			font-size: 24px;
			text-transform: uppercase;
			float: left;
			color: white;
		}

		p {
			padding: 10px;
			font-size: 18px;
			top: 90px;
			font-style: italic;
			color: #444;
		}

		a {
			display: block;
			width: 100%;
			height: 100%;
			transform: translateZ(0);

			&:before {
				content: "";
				position: absolute;
				transition: opacity .4s;
				transform: translateZ(0);
				display: block;
				width: 100%;
				height: 100%;
				background-color: white;
				z-index: 1;
				opacity: 0;
			}
		}

		img {
			background-color: grey;
			min-width: 100%;
			min-height: 100%;

			transform: translateY(-50%) translateZ(0);
		}


		&:hover {
			a:before {
				opacity: .1;
			}
		}
	}

	&.hide {
		pointer-events: none;
		opacity: 0;
		ul {
			background: $darkgrey;
		}
		li {
			@for $i from 1 through 100 {
				&:nth-child(#{$i}) {
					transition-delay: $i * .1s;
				}
			}
			opacity: 0;
		}
	}

	&.to-top {
		li {
			transform: translateY(-350px) translateZ(0);
		}
	}
}

/*EXPERIMENT*/

.experiment {
	position: absolute;
	top: 50px;
	left: 0;
	width: 100%;
	height: calc(100% - 50px);
	iframe {
		width: 100%;
		height: 100%;
		transition: opacity 1s;
		&.hide {
			opacity: 0;
		}
	}
}